#playArea {

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    background-color: dimgrey;
    border: 30px;
    border-color: black;
}

#player1 {
    padding: 10px;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto;
    background-color: blanchedalmond;
    color: black;
}
#player1 .name {
    display: flex;
    justify-content: center;
    font-size: 24px;
}
#player1 .topButt {
    display: flex;
    justify-content: space-evenly;
}
#player1 .topButt .IncAmount{
    justify-content: center;
}
#player1 .health {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 24px;
}
#player1 .topButt .Inc1{
    justify-content: center;
}
#player1 .botButt {
    display: flex;
    justify-content: space-evenly;
}
#player1 .botButt .DecAmount{
    
    justify-content: center;
    
}
#player1 .topButt .Dec1{
    
    justify-content: center;
}
#player2 {
    padding: 10px;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 4;
    background-color: blanchedalmond;
    color: black;
}

#player2 .name {
    display: flex;
    justify-content: center;
    font-size: 24px;
}
#player2 .topButt {
    display: flex;
    justify-content: space-evenly;
}
#player2 .topButt .IncAmount{
    justify-content: center;
}
#player2 .health {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 24px;
}
#player2 .topButt .Inc1{
    justify-content: center;
}
#player2 .botButt {
    display: flex;
    justify-content: space-evenly;
}
#player2 .botButt .DecAmount{
    
    justify-content: center;
    
}
#player2 .topButt .Dec1{
    
    justify-content: center;
}

#player3 {
    padding: 10px;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 4;
    background-color: blanchedalmond;
    color: black;
}

#player3 .name {
    display: flex;
    justify-content: center;
    font-size: 24px;
}
#player3 .topButt {
    display: flex;
    justify-content: space-evenly;
}
#player3 .topButt .IncAmount{
    justify-content: center;
}
#player3 .health {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 24px;
}
#player3 .topButt .Inc1{
    justify-content: center;
}
#player3 .botButt {
    display: flex;
    justify-content: space-evenly;
}
#player3 .botButt .DecAmount{
    
    justify-content: center;
    
}
#player3 .topButt .Dec1{
    
    justify-content: center;
}

#player4 {
    padding: 10px;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 4;
    background-color: blanchedalmond;
    color: black;
}

#player4 .name {
    display: flex;
    justify-content: center;
    font-size: 24px;
}
#player4 .topButt {
    display: flex;
    justify-content: space-evenly;
}
#player4 .topButt .IncAmount{
    justify-content: center;
}
#player4 .health {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 24px;
}
#player4 .topButt .Inc1{
    justify-content: center;
}
#player4 .botButt {
    display: flex;
    justify-content: space-evenly;
}
#player4 .botButt .DecAmount{
    
    justify-content: center;
    
}
#player4 .topButt .Dec1{
    
    justify-content: center;
}
