html { 
    -webkit-user-select: none;
    user-select: none; 
}

#playArea {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    background-color: #8b0000;
    border: 30px;
    border-color: black;
}
#player1 {
    
    padding: 10px;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto;
    background-color: #8b0000;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}
#player2 {
    padding: 10px;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 4;
    background-color: #8b0000;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}
#player3 {
    padding: 10px;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 4;
    background-color: #8b0000;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}
#player4 {
    padding: 10px;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 4;
    background-color: #8b0000;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}
.name {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.topButt {
    display: flex;
    justify-content: space-evenly;
}
.IncAmount{
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    -webkit-tap-highlight-color: transparent;

}
.Inc1{
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    -webkit-tap-highlight-color: transparent;
}
.health {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
}
.botButt {
    display: flex;
    justify-content: space-evenly;
}
.DecAmount{
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    -webkit-tap-highlight-color: transparent;
}
.Dec1{
    
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    -webkit-tap-highlight-color: transparent;
}
